.sp-page-confirm-scroll-button {

  width: auto;
  height: 80px;
  background: #FFFFFF;
  // box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
  border-radius: 40px;
  border-width:1px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color:inherit;
  border-color:#C5CAD5 ;
  border-style: solid;

  .text{
    font-size: 28px;
    font-weight: 400;
    color: #666F83;
    //text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.14); 
    line-height: 80px;
    text-align: center;

    &.active{
      color:white;
      position: relative;
    }

    &.refuseText{
      width:34%; 
    }
    &.confirmText{
      width:66%; 
    }
  }

  .activeTrack{
    background: currentColor;
    position: absolute;
    top: 0;
    bottom: 0;  
    border-radius: inherit;
    transition:left .2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.active-0{
      left:0;
      width:34%; 
    }

    &.active-1{
      left:34%;
      width:66%; 
    }
  }

}
