.page-auth-bindphone {
    .bindphone-scrollview {
      @include page-scroll(0, 120px);
      background: #fff;
      right: 0;
      width: auto;
      padding: 0 32px;
    }
    .auth-hd {
      margin-top: 200px;
      .title {
        color: #111A34;
        font-size: 52px;
      }
      .desc {
        font-size: 28px;
        color: #858B9C;
      }
    }
    .auth-bd {
      margin-top: 100px;
      .form-title {
        font-size: 32px;
        color: #111A34;
        padding-bottom: 20px;
        border-bottom: 1PX solid #E2E4EA;
      }
      .form-field {
        display: flex;
        align-items: center;
        border-bottom: 1PX solid #E2E4EA;
        .img-code{
          width:150px;
          height:60px;
        }
        .at-input {
          padding: 25px 0 !important;
          margin-bottom: 0;
          flex: 1;
        }
        .input-field {
          flex: 1;
        }
        .btn-field {
          width: 180px;
          text-align: center;
        }
      }
      .btn-text {
        margin-top: 30px;
        font-size: 32px;
        color: var(--color-primary);
      }
      .form-submit {
        margin-top: 100px;
      }
      .btn-submit {
        height: 100px;
        border-radius: 50px;
        line-height: 100px;
        font-size: 36px;
      }
    }
    .auth-ft {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      
      text-align: center;
      .logo {
        width: 240px;
        height: 45px;
      }
    }
  }