.sp-component-drawer {
  .at-float-layout__container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
  }

  .layout-body {
    padding: 0;
  }

  .header {
    height: 120px;
    background: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .left,
    .right {
      font-size: 36px;
      font-weight: 500;
    }

    .left {
      color: #666F83;
    }

    .right {
      color: #4980FF;
    }

    .center {
      font-size: 40px;
      font-weight: 400;
      color: #111A34;
    }
  }

  .content {
    .at-textarea {
      border: none;
      height: 500px
    }

    .at-textarea{
      padding-left:40px;
      padding-right:40px;
  
      display: flex;
      flex-direction: column;
  
      &__textarea{
        flex:1;
      }
    }

    .at-textarea__textarea {
      height: 70%;
    }

    .taro-textarea {
      resize: none;
      font-size: $textarea-font-size;
    }

    .taro-textarea::-webkit-input-placeholder {
      font-size: $textarea-placeholder-font-size;
      color: #C5CAD5;
    }

    .weui-input{
      resize:none;
        font-size: $textarea-font-size;
    }
    .weui-input::-webkit-input-placeholder{
        font-size: $textarea-placeholder-font-size;
        color: #C5CAD5;
    }
  }

}
