.sp-component-picker {
  .at-float-layout__container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
  }

  .layout-body {
    padding: 0;
  }

  .header {
    height: 120px;
    background: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .left,
    .right {
      font-size: 36px;
      font-weight: 500;
    }

    .left {
      color: #666F83;
    }

    .right {
      color: #4980FF;
    }

    .center {
      font-size: 40px;
      font-weight: 400;
      color: #111A34;
    }
  }

  .content{
    .columns{
      display: flex;
      cursor: grab;
      position: relative;
      height: 460px;
      
      .column{
        flex: 1;
        overflow: hidden;

        .column_wrapper{
          transition-timing-function:cubic-bezier(0.23, 1, 0.68, 1);
          display: flex;
          flex-direction: column;

          .columns_item{
            height:100px;
          }

        }
      }



    }
  }

}
