.note-drawer{ 
    .content{
        .at-textarea{
            border:none;
            height:500px 
        }
        .at-textarea__textarea{
            height:70%;       
        }
        .taro-textarea{
            resize:none;
           
        }
        .taro-textarea::-webkit-input-placeholder{
            font-size: 24px;
            color: #C5CAD5;
        }
    }
}