/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

 .spec-item{
   background-color: white;
   padding:0 32px;

   &.has-good-spec{
    background-color: #f3f5f6;
    padding: 0;

    .common-form{
      background: #fff;
      border-radius: 8px;
      width: 90%;
      padding:0 16px;
      margin: 16px auto;

    }
   }

    .spec-good-item{
      padding:0 32px 0 32px+19px;

      &:after{
        height: 0;
      }
    }
  }
