$searchInputHeight:70px;

$tabbarHeight:100px;

$filterHeight:100px;

.page-order-list {

  background: #F9FAFB;
  //background: #fff;
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }

  &-input {
    padding: 10px 20px;
  }

  &-tabbar {
    height: $tabbarHeight;
    position: relative;



    .at-tabs {
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 3px 5px 0px #E2E4EA;
      height: $tabbarHeight;
      padding-left: 37px;
    }

    .at-tabs .at-tabs__item {
      height: $tabbarHeight;
      line-height: $tabbarHeight;
      font-weight:400;  
      color: #666F83;
      font-size: 28px;

      &--active{
          color:var(--color-primary);
      }

      .at-tabs__item-underline{
        background-color:var(--color-primary);
      }
    }
  }

  &-orderList {
    @include page-scroll($searchInputHeight+$tabbarHeight+$filterHeight+20, 0);
  }

}
