.sp-good-item-price{
    color:#111A34; 
    font-weight: 400;
    
    &.discount{ 
        font-weight: 400;
        color: #858B9C; 
        text-decoration: line-through;
    }

    .price{
        display: flex;
        align-items: flex-end;
        line-height: 1;

        .symbol{
            margin-right: 2px;
        }

        .symbol,.decimal{
            font-size:0.78em;
        }
    }

    .point{
        display: flex;
        align-items: center;
        .symbol{
            margin-left: 2px;
        }
    }

    .pointandprice{
        display: flex;
        align-items: center;
    }
}