.sp-good-item-price{
    color:#111A34; 
    font-weight: 400;
    display: flex;
    align-items: center;

    .prefix{
        margin-right: 10px;
        line-height: 1;
    }
    
    &.discount{ 
        font-weight: 400;
        color: #858B9C; 
        text-decoration: line-through;
    }

    .price{
        display: flex;
        align-items: flex-end;
        line-height: 1; 

        &.color-red{
            color:#FF5257;
        }

        .integer{
            font-size:1.28em;
            margin-left:6px;
        }

        &.is-same{
            .integer{
                font-size: 1em;
            }
        }

         
    }

    .point{
        display: flex;
        align-items: center;
        .symbol{
            margin-left: 2px;
        }
    }

    .pointandprice{
        display: flex;
        align-items: center;
    }
}