.sp-page-fixed-action{

    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:160px;
    background-color: #fff;
    padding:0px 50px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    padding-top: 4px;

    &.detail-page{
        height:160px;
        padding-top:20px;
        z-index:10;
    }

}