.page-auth-agreement {

  background-color: #fff;
  height: 100vh;
  padding-top:188px;
  // min-height: 100vh;
  // box-sizing: border-box;
  // height: 100vh;
  // @include page-scroll(0, 0);

  &-header {

    &-logo {

      width: 280px;
      height: 64px;
      margin: 0 auto;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      width: 454px;
      height: 42px;
      font-size: 30px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--color-primary);
      line-height: 42px;
      letter-spacing: 2px;
      margin: 53px auto 0 auto;
    }
  }

  &-body {
    &-logo {
      width: 578px;
      height: 649px;
      margin: 103px auto 0 auto;

      .img {
        width: 100%;
        height: 100%;
      }

    }

    &-button {
      margin-top: 142px;
      @include flexbox;
    }

  }



}
