.page-auth-login {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 32px;
  .auth-hd {
    margin-top: 200px;
    .title {
      color: #111A34;
      font-size: 52px;
    }
    .desc {
      font-size: 28px;
      color: #858B9C;
    }
  }
  .auth-bd {
    margin-top: 100px;
    .form-title {
      font-size: 32px;
      color: #111A34;
      border-bottom: 1PX solid #E2E4EA;
    }
    .form-field {
      display: flex;
      align-items: center;
      .input-field {
        flex: 1;
      }
      .btn-field {
        width: 180px;
        text-align: center;
      }
    }
  }
  .auth-ft {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    .logo {
      width: 240px;
      height: 45px;
    }
  }
}