.update-delivery-status{
  // padding: 0 20px;
  box-sizing: border-box;
  .update-footer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .update-btn{
      color: #fff;
      background: var(--color-primary) !important;

    }

  }
}
