.cpn-picker{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(37, 38, 45, 0.6);
  .cover {
    position: absolute;
    bottom: 0;
    background: #fff;
    height: 670px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    .bar {
      padding: 0 40px;
      box-sizing: border-box;
      height: 120px;
      line-height: 120px;
      background: #f9fafb;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        font-size: 36px;
        color: #666f83;
      }
      .center {
        font-size: 40px;
        color: #111a34;
      }
      .right {
        font-size: 36px;
        color: #4980ff;
      }
    }
    .content {
      height: 550px;
     
    }
  }
}