
.sp-page-shopx-logo{
    position:fixed;
    bottom: 46px;
    width: 100%;
    pointer-events: none;
    @include flexbox();
    z-index: 1000;

    .img{
        width:240px;
        height:44px;
    }
}