.sp-component-remark-item{
     margin-top: 24px;

     .remark-component{

          padding-bottom: 0px;
          
          &.wrap{
               .label{
                    margin-bottom: 24px;
               }
               .placeholder{
                    .content{
                         font-size: 24px;
                         color: #111A34;
                         padding-bottom: 28px;
                    }
               }
          }
          
          
     }
    
}