$photo: 64px;
$md-white: #fff;
@mixin listStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color-white {
  color: $md-white;
  line-height: 80px;
}
.color-gray {
  color: rgba(255, 255, 255, 0.6);
  line-height: 80px;
}

.page-index {
  background: #fff;
  .top {
    height: 280px;
    background: linear-gradient(180deg, #4980ff 0%, rgba(73, 128, 255, 0.15) 100%);
    overflow: hidden;
    .shop-title {
      margin-top: 30px;
      margin-left: 32px;
      margin-right: 32px;
      width: fit-content;
      height: 80px;
      background: rgba(0, 0, 0, 0.12);
      display: flex;
      border-radius: 40px;
      align-items: center;
      box-sizing: border-box;
      .avatar {
        padding-top: 10px;
        .photo {
          margin: 14px 10px;
          box-sizing: border-box;
          width: $photo;
          height: $photo;
          border: 1px solid $md-white;
          border-radius: 50%;
        }
      }

      .title {
        @include text-overflow;
        max-width: 550px;
        line-height: 45px;
        margin-right: 30px;
        height: 45px;
        color: $md-white;
        font-size: 32px;
        font-weight: 400;
      }
    }
  }
  .current-status {
    margin: 0 auto;
    margin-top: -150px;
    width: 750px;
    background: url('~@/assets/imgs/index/bg.png') center no-repeat;
    background-size: 100% 100%;
    padding: 54px 58px 80px 58px;
    box-sizing: border-box;
    font-size: 28px;
    color: $md-white;
    // box-shadow: 2px 8px 32px 0px rgba(73, 128, 255, 0.3);
    // border-radius: 16px;
    .big-title {
      height: 80px;
      line-height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 28px;
      color: $md-white;
      .icon-gaikuang {
        font-size: 54px;
        margin-right: 10px;
      }
    }
    .spend-money {
      margin-top: 34px;
      margin-bottom: 34px;
      color: rgba(255, 255, 255, 0.6);
      .title {
        font-size: 24px;
        display: flex;
        align-items: center;
        .icon-yincang,
        .icon-xianshi {
          font-size: 45px;
          color: $md-white;
          margin-right: 18px;
        }
      }
      .money {
        margin-top: 12px;
        height: 59px;
        line-height: 59px;
        font-size: 42px;
        color: $md-white;
      }
    }
    .list {
      @include listStyle;
      padding: 30px 0;
      color: rgba(255, 255, 255, 0.6);
      .pay-order {
        flex: 1;
        .title {
          width: 100%;
          font-size: 24px;
        }
        .color-white {
          font-size: 42px;
        }
      }
    }
    .list-2 {
      .title {
        color: $md-white;
      }
    }
  }
  .func-list {
    padding: 10px 40px 100px 40px;
    width: 750px;
    box-sizing: border-box;
    .title {
      font-size: 40px;
      color: #666F83;
      font-weight: 600;
    }
    .list {
      margin-top: 30px;
      padding: 0 50px;
      overflow: hidden;
      .item {
        flex-wrap: wrap;
        float: left;
        text-align: left;
        width: 33.333%;
        &:nth-child(2){
          text-align: center;
        }
        &:nth-child(3){
          text-align: right;
        }
        .img {
          width: 70px;
          height: 80px;
          margin: 0 auto;
        }
        .subtitle {
          font-size: 24px;
          color: #4a4a4a;
          line-height: 33px;
          // text-align: center;
        }
      }
    }
  }
}
