.page-planSelection{
  .welcome-scrollview {
    padding:50px 50px ;
    box-sizing: border-box;
    @include page-scroll(0, 120px);
    background: #fff;
    min-height: 100%;
    
  }
  .title{
    color: #111A34;
    font-size: 52px;
  }
  .tips{
    margin-top: 20px;
    font-size: 28px;
    color: #858B9C;
  }
  .box{
    margin-top: 80px;
  }
  .logoBox{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    // bottom: ;
    margin-top: 200px;
    taro-image-core{
      position: relative;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 238px;
      height: 44px;
    }
  }
}