.ft-logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 120px;
  background-color: #fff;
  .logo {
    width: 240px;
    height: 45px;
    margin-top: 40px;
  }
}