.order-item-button{
    height: 60px;
    background: #FFFFFF;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    // box-shadow: 0px 2px 4px 0px #E2E4EA;
    border-color: #C5CAD5;
    color:#666F83;
    font-size: 28px;
    padding: 10px 28px;
    @include inline-flexbox();

    &.type-primary{
        color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &.type-danger{
        color: #FF5257;
        border-color: #FFB5B8;
    }
}