@mixin cardShadow {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px #E2E4EA;
}

.sp-order-item {
  padding: 24px 32px;
  margin-bottom: 24px;
  @include cardShadow;

  .margin-left-20{
    margin-left: 20px;
  }

  &-header {
    .order-header {
      position: relative;

      .order-no {
        display: flex;
        align-items: center;

        .no {
          font-size: 24px;
          color: #111A34;
        }

        .copy {
          font-size: 24px;
          color: #4980FF;
          margin-left: 10px;
        }
      }

      .order-time {
        font-size: 24px;
        color: #858B9C;
      }

      .order-status {
        font-size: 28px;
        color: #666F83;
        text-shadow: 0px 2px 4px #E2E4EA;
        position: absolute;
        top: 0;
        right: 0;

        &-text {
          position: relative;
          z-index: 1;
        }

        &-background {
          background: #FFE3CB;
          box-shadow: 0px 2px 4px 0px #E2E4EA;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 16px;
        }
      }
    }
  }

  &-body {
    .goodItem {
      margin-bottom: 16px;
    }
  }

  &-extra-list {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    .distribution {
      font-weight: 400;
      color: #858B9C;
      font-size: 24px;
      flex-basis: 200px;
      flex-shrink: 0;
    }

    .desc {
      font-weight: 500;
      color: #111A34;
      font-size: 22px;
      display: flex;
      align-items: center;

      &-title{
        
      }

    }
  }

  &-footer {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    .order-item-button {
      &:nth-child(1) {
        &:not(&.extraColor){
            color: var(--color-primary);
            border-color: var(--color-primary); 
        } 
      }
    }

  }

}
