.sp-good-item{

    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    &-image{
        width: 160px;
        height: 160px;
        box-shadow: 0px 2px 4px 0px #E2E4EA;
        border-radius: 8px;
        border: 1px solid #E2E4EA;
        flex-shrink: 0;

        .img{
            width: 100%;
            height:100%;
        }
    }

    &-content{

        width:336px;
        flex-shrink: 0;
        margin-left:24px;

        &_name{
            // text-shadow: 0px 2px 4px #E2E4EA;
            font-weight: 500;
            color: #111A34;
            font-size: 28px;
            @include multi-ellipsis(1);
        }

        &_spec{
            font-size: 24px;
            font-weight: 400;
            color: #858B9C;
            // text-shadow: 0px 2px 4px #E2E4EA;
            margin-top: 6px;
        }

        &_number{
            font-weight: 400;
            color: #858B9C; 
            font-size: 24px;
            margin-top: 28px;
            // text-shadow: 0px 2px 4px #E2E4EA;
        }

    }

    &-rightextra{
        text-align: right;
        &-goodnumber{
            font-size: 20px;
            color:#111A34;
            margin-top: 28px;
        }
    }
}