.sp-good-item{

    margin-bottom: 16px;
    display: flex;

    &-image{
        width: 160px;
        height: 160px;
        box-shadow: 0px 2px 4px 0px #E2E4EA;
        border-radius: 8px;
        border: 1px solid #E2E4EA;

        .img{
            width: 100%;
            height:100%;
        }
    }

    &-content{
        &_name{
            text-shadow: 0px 2px 4px #E2E4EA;
            font-weight: 500;
            color: #111A34;
            font-size: 28px;
        }
    }
}