.page-my {
  .borderNone{
    border: none !important;
  }
  .top {
    height: 350px;
    background: linear-gradient(180deg, #4980ff 0%, rgba(73, 128, 255, 0.15) 100%);
    padding-top: 50px;
    box-sizing: border-box;
    .info {
      position: relative;
      margin-top: 50px;
      padding-left: 60px;
      padding-top: 150px;
      box-sizing: border-box;
      height: 450px;
      background: url('../../assets/imgs/my/zyk_bg.png') center no-repeat;
      background-size: 100% 100%;
      display: flex;
      .photo {
        width: 130px;
        height: 130px;
        border-radius: 8px;
        border: 1px solid #e2e4ea;

        taro-image-core {
          width: 130px;
          height: 130px;
        }
      }
      .content {
        margin-left: 20px;
        .title {
          max-width: 450px;
          font-size: 32px;
          line-height: 60px;
        }
        .tag {
          margin-top: 10px;
          width: 66px;
          text-align: center;
          box-sizing: border-box;
          padding: 3px 6px;
          background: #d8e9ff;
          border-radius: 4px;
          font-size: 22px;
          color: #4980FF;
        }
      }
    }
    .switch-shop{
      font-size: 28px;
      position: absolute;
      bottom: 75px;
      right: 70px;
      color: #4980ff;
      .icon-qiehuan1{
        font-size: 30px;
        margin-right: 10px;
      }
    }
  }
  .joker{
    background: #F9FAFB;
    height: 220px;
  }
  .formBox{
    padding: 0 40px;
    background: #fff;
    box-shadow: 0px 3px 5px 0px #E2E4EA;
    .iconfont{
      font-size: 30px;
      margin-right: 24px;
    }
    .photoBox, .common{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      border-bottom: 1px solid #e2e4ea;
      .photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #e2e4ea;
        taro-image-core {
          width: 90px;
          height: 90px;
        }
      }
      .title{
        font-size: 28px;
        color: #666F83;
      }
      .value{
        font-size: 28px;
        color: #858B9C;
        input{
          text-align: right;
          border: none;
          &:hover{
            border: none;
          }
        }
        
      }
    }
  }
  .btn{
    height: 109px;
    line-height: 109px;
    margin-top: 20px;
    background: #fff;
    border: none;
    color: #666f83;
    font-size: 28px;
    border-radius: none;
  }
}
