
@mixin cardShadow{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #E2E4EA;
}

.comp-order-item{
    padding:24px 32px;
    @include cardShadow;

    &-header{ 
        .order-header{
            .order-no{
                display: flex;
                align-items: center;
                .no{
                    font-size: 24px;
                    color:#111A34;
                }
                .copy{
                    font-size: 24px;
                    color:#4980FF;
                    margin-left: 10px;
                }
            }
            .order-time{
                font-size: 24px;
                color:#858B9C;
            }
        } 
    }
}