.sp-common-button{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
    border-radius: 40px;
    @include flexbox();

    &.type-primary{
        background-color: var(--color-primary);
        color:white;
    }
    &.size-normal{
        font-size: 28px;
        font-weight: 400; 
    }
}